
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,300;1,400;1,500&display=swap');

.product-desciption h2{
    font-family: 'Poppins';
    color: black;
}

.product-desciption h5{
    color: brown;
    font-style: italic;
}

.product-desciption h4{
    color: cadetblue;
}

.btn.btn-outline-danger.add-to-cart a{
    color: brown;
    text-decoration: none;
    font-family: 'Poppins';
}
