<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>controller.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityCart</servlet-name>
        <servlet-class>controller.QuantityCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>controller.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>controller.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>adminController.AdminListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProduct</servlet-name>
        <servlet-class>adminController.AdminAddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <servlet-class>adminController.AdminDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProduct</servlet-name>
        <servlet-class>adminController.AdminEditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteCategories</servlet-name>
        <servlet-class>adminController.AdminDeleteCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddCategories</servlet-name>
        <servlet-class>adminController.AdminAddCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStatistic</servlet-name>
        <servlet-class>adminController.AdminStatistic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageProduct</servlet-name>
        <servlet-class>adminController.AdminManageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageOrder</servlet-name>
        <servlet-class>adminController.AdminManageOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteOrder</servlet-name>
        <servlet-class>adminController.AdminDeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditOrder</servlet-name>
        <servlet-class>adminController.AdminEditOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityCart</servlet-name>
        <url-pattern>/quantityCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/adminlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProduct</servlet-name>
        <url-pattern>/AdminAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <url-pattern>/AdminDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProduct</servlet-name>
        <url-pattern>/AdminEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteCategories</servlet-name>
        <url-pattern>/AdminDeleteCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddCategories</servlet-name>
        <url-pattern>/AdminAddCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStatistic</servlet-name>
        <url-pattern>/AdminStatistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageProduct</servlet-name>
        <url-pattern>/AdminManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageOrder</servlet-name>
        <url-pattern>/AdminManageOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteOrder</servlet-name>
        <url-pattern>/AdminDeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditOrder</servlet-name>
        <url-pattern>/AdminEditOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
